# Ambiente virtual
venv/

# Arquivos de configuração
.env

# Banco de dados SQLite
*.sqlite3
db.sqlite3

# Arquivos de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de sistema
.DS_Store

# Arquivos de log
*.log

# Arquivos temporários
*.tmp

# Arquivos de mídia e estáticos (se gerenciados separadamente)
/media/
/static/

# Arquivos de configuração local
local_settings.py

# Arquivos de IDE
.vscode/
.idea/

# Arquivos de dependências
node_modules/

# Arquivos de build
/build/
/dist/

# Arquivos de backup
*.bak

# Arquivos específicos do seu projeto
.dockerignore
Procfile

# Outros arquivos que você não quer versionar
# Adicione aqui quaisquer outros arquivos ou diretórios específicos do seu projeto