# Python
   *.pyc
   __pycache__/
   *.pyo
   *.pyd
   .Python
   env/
   venv/
   pip-log.txt
   pip-delete-this-directory.txt

   # Django
   *.log
   local_settings.py
   db.sqlite3
   db.sqlite3-journal

   # Static files
   /static/
   /media/

   # macOS
   .DS_Store

   # VS Code
   .vscode/

   # PyCharm
   .idea/